body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #00121b;
    text-decoration: none;
  }
  
  a:hover {
    color: #b4eef0;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
  }
  
  
  /*
  # Header
  */
  #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #1e4356;
  }
  #header.header-transparent {
    background: none;
  }
  #header.header-scrolled {
    background: rgba(30, 67, 86, 0.8);
    height: 60px;
  }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  #main {
    margin-top: 80px;
  }
  
 
  /**
  navbar 
  */
  .navbar {
    padding: 0;
    color: white;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #f7f7f7;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
/* # Hero Section */
  
  #hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
  }
  #hero::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(45, 104, 133, 0.8), rgba(30, 67, 86, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  #hero::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
  }
  #hero .btn-get-started:hover {
    background: #7b7d7e;
    color: #fff;
    text-decoration: none;
  }
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-width: 768px) {
    #hero::after {
      width: 180%;
      height: 95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) rotate(0deg);
    }
    #hero::before {
      top: 0;
      width: 180%;
      height: 94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
  }
  @media (max-width: 575px) {
    #hero h2 {
      font-size: 30px;
    }
    #hero::after {
      left: 40%;
      top: 0;
      width: 200%;
      height: 95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) rotate(0deg);
    }
    #hero::before {
      left: 50%;
      top: 0;
      width: 200%;
      height: 94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%) translateY(20px) rotate(4deg);
    }
  }
  /* cards  */

.card{
    margin-top: 35px;
    /* background-color: #C0C0C0; */
}
.card img{
    width: 100%;
    height: 180px;
}
.card2{
    margin-top: 35px;
    
}
.card2 img{
    width: 100%;
    height: 420px;
}

.card3{
    margin-top: 35px;
}
.card3 img{
    width: 100%;
    height: 420px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(161, 151, 151);
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
  /*
  # Hero No Slider Section
  */
  #hero-no-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  #hero-no-slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
  }
  #hero-no-slider h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
  }
  #hero-no-slider p {
    color: #fff;
  }
  #hero-no-slider .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
  }
  #hero-no-slider .btn-get-started:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 575px) {
    #hero-no-slider h2 {
      font-size: 30px;
    }
  }

  /*
  # Sections General
  */
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f3f8fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #68A4C4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  
  /*
  # Breadcrumbs
  */
  .breadcrumbs {
    
    padding: 15px 0;
    background-color: #c9cfd1;
    min-height: 40px;
  }
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
  }
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  
  
  /*
  # Features
  */
  .features .row  {
    margin-top: 0px;
  }
  .features h3 {
    font-weight: 400;
    font-size: 24px;
  }
  .features ul {
    list-style: none;
    padding: 0;
  }
  .features ul li {
    padding-bottom: 10px;
  }
  .features ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #68A4C4;
  }
  .features p:last-child {
    margin-bottom: 0;
  }
  
  /*
  # About
  */
  .about h3 {
    color: #00121b;
    font-weight: 400;
    font-size: 26px;
  }
  .about ul {
    color: #00121b;
    list-style: none;
    padding: 0;
  }
  .about ul li {
    color: #00121b;
    padding-bottom: 10px;
  }
  .about ul i {
    color: #00121b;
    font-size: 20px;
    padding-right: 4px;
    color: #68A4C4;
  }
  .about p:last-child {
    margin-bottom: 0;
  }
  
  /*
  # Service Details
  */
  .service-details {
    padding-bottom: 10px;
  }
  .service-details .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
  }
  .service-details .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  .service-details .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .service-details .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  .service-details .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .service-details .card-title a {
    color: #1e4356;
    transition: 0.3s;
  }
  .service-details .card-text {
    color: #5e5e5e;
  }
  .service-details .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  .service-details .read-more a:hover {
    color: #68A4C4;
  }
  .service-details .card:hover img {
    transform: scale(1.1);
  }
  .service-details .card:hover .card-body {
    border-color: #68A4C4;
  }
  .service-details .card:hover .card-body .card-title a {
    color: #68A4C4;
  }
  
  /*
  # Contact
  */
  .contact {
    padding-bottom: 30px;
  }
  .contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
  }
  .contact .info-box i {
    font-size: 32px;
    color: #68A4C4;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #a2cce3;
  }
  .contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #68A4C4;
  }
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  .contact .php-email-form button[type=submit] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #8dbad2;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*
  # Footer
*/
  #footer {
    
    margin: 30px 10px 10px 10px;
    background: #0b212d;
    padding: 0px 0px 30px 0px ;
    color: #fff;
    font-size: 14px;
  }
  #footer .footer-newsletter {
    padding: 50px 0;
    background: #0d2735;
  }
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #a2cce3;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
  }

  #footer .footer-top {
    background: #0d2735;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 0px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: #a2cce3;
    font-weight: 600;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    padding-bottom: 12px;
  }
 
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #a2cce3;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #a2cce3;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
   #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  #footer .copyright {
    margin: 10px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
  }
  